.page-header {
  padding: 4rem 0;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .2;
    z-index: 0;
  }
  &__front {
    background: #282d31;
  }

  &__data {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    display: block;
  }

  .row {
    flex-direction: column;
  }
}